<!doctype html>
<html class="no-js" lang="ja">

<head>
  <meta charset="utf-8">
  <title>TelTelPose</title>
  <meta name="description" content="最初の人がお題を決めてジェスチャーして伝えようゲーム。ただし次の人に伝わるのは前の人の骨格だけだよ">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
  <link type="text/css" rel="stylesheet" href="css/main.css" />
</head>

<body>
  
  <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-white mb-0">
      TelTelPose
    </h1>
    
  </div>
</header>

    <div class="container">
      <!-- Add your site or application content here -->
    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
    

    <!-- プレイヤー追加の項目のjQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).on("click", ".add", function() {
        $(this).parent().clone(true).insertAfter($(this).parent());
    });
    $(document).on("click", ".del", function() {
        var target = $(this).parent();
        if (target.parent().children().length > 1) {
            target.remove();
        }
    });
    </script>
<!-- ---------------------------------------------- -->

<div class="mt-4 p-5 mb-4 bg-light rounded-3" style="padding-top:20px">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold" >TelTelPose</h1>
    <p class="col-md-8 fs-4">
      お題をジェスチャーで表現した画像の
      <strong>”骨格だけ”</strong>を次の人に回して最後の人がお題を当てるゲーム.<br>
      骨格だけになった姿でお題を伝えよう.</p>
    
  </div>
</div>

    <div>
      <form id="player" name="player" method="post" action="{{url_for('odai')}}">
        <p class="col-md-8 fs-5">プレイヤーを追加する</p>
        <input type="text" name = 'player_name'class="player_name" placeholder="出題者" required>
        <div id="input_pluralBox">
            <div id="input_plural" class="mt-2 mb-2 ">
                <input type="text" name = 'player_name'class="player_name" placeholder="伝言者" required>
                <input type="button" value="＋" class="add pluralBtn btn btn-secondary btn-sm">
                <input type="button" value="－" class="del pluralBtn btn btn-secondary btn-sm">
            </div>
          </div>
          <input type="text" name = 'player_name'class="player_name" placeholder="回答者" required>
    
        <div class="mt-2 d-flex justify-content-evenly">
            <button class="odai btn btn-info btn-lg" type="submit">お題を決める</button>    
        </div>
    </form>
    </div>

    <!--<button type="button" class="btn btn-secondary btn-sm">+</button> 
    <button type="button" class="btn btn-secondary btn-sm">-</button>
    -->
    <br>


  <!--プレイ方法-->
  <p>
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded ="true" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4">あそび方</button>
  </p>

  <div >
    <div class="row">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <h2>１ お題を決めよう</h2>
          <p>
          「TelTelPose」とは、一言でいうと伝言ゲームの骨格版.<br>
          最初の人は解答となるお題を決めてください<br>
          お題を決めてから、<button class=" btn btn-info btn-sm " >START</button>を押すとカメラが起動するよ
          
        
        </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          <h2>２ 骨格を撮影しよう</h2>
          <p>
            お題を決めた人は次の人に伝えるためにジェスチャーで表現しよう.
            ジェスチャーは4コマのシーンに分けて撮影<br>
            シャッターボタンを押すと5秒後に撮りたいコマの画像が撮れます
            撮影された画像は、その人の”骨格だけ”になって次の人にパス<br>
            コマごとに撮りなおすことも出来るよ
            <br>撮影する人以外の人は見えないように後ろを向いてください!!

          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
          <h2>３ 次の人へパスしよう</h2>
          <p>
            次の人は骨格だけになった4コマの画像を見て、お題を予想<br>
            前の人の画像から汲み取ったお題を入力してください.
            予想したお題を同じように撮影して<button class=" btn btn-info btn-sm " >骨格を送る</button>で次の人にパス</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
        <div class="card card-body">
          <h2>４ 最後の人まできたら...</h2>
          <p>
            最後の人は回ってきた画像からお題を回答してください<br>
            回答すると、答え合わせで正解のお題とみんなの骨格が表示されるよ<br>
            推薦人数:四人以上
           
          </p>
        </div>
      </div>
    </div>
  </div>



  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>